:root {
    --background-color: black;
    --text-color-light: white;
    --text-color-dark: black;

    --button-background: white;
    --button-background-active: grey;

    --page-flipper-shadow: #0008;

    --search-bar-background: white;
    --search-bar-background-focus: white;
    --autocomplete-no-results-text: black;
    --autocomplete-no-results-background: white;
    
    --search-result-background-static: grey;
    --search-result-border-static: #FFF1;
    --search-result-background-animated: grey;
    --search-result-border-animated: white;
    --search-result-background-video: grey;
    --search-result-border-video: white;
    --search-result-hover-shadow: #0008;
}
