search > fieldset#page-flipper {
    display: flex;
    margin: 0;
    padding: 50px 0;
    width: 100%;
    z-index: 2;

    flex-direction: row;
    justify-content: center;
    gap: 10px;

    position: fixed;
    left: 0;
    bottom: 0;

    border: none;
    background-image: linear-gradient(
        to bottom,
        transparent,
        var(--page-flipper-shadow)
    );

    min-inline-size: unset;

    > button.prev {
        order: 1;
    }
    > button.next {
        order: 3;
    }
    > input.input {
        order: 2;
        
        appearance: textfield;
    }
}
