ul#search-results {
    margin: 0 5%;
    padding: 0;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(
        auto-fill,
        minmax(min(
            calc((100% - ($gap * 2)) / 3),
            150px
        ), 1fr)
    );

    > li {
        z-index: 0;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;

        border-style: solid;

        position: relative;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &, &.static {
            background-color: var(--search-result-background-static);
            border-color: var(--search-result-border-static);
            border-width: 1px;
        }

        &.animated {
            background-color: var(--search-result-background-animated);
            border-color: var(--search-result-border-animated);
            border-width: 2px;
        }

        &.video {
            background-color: var(--search-result-background-video);
            border-color: var(--search-result-border-video);
            border-width: 2px;
        }
        
        .thumb { display: block; }
        .preview { display: none; }
        
        @media (hover: hover) {
            &:hover {
                transform: scale(1.25);
                filter: drop-shadow(0 10px 30px var(--search-result-hover-shadow));
                z-index: 1;

                .thumb { display: none; }
                .preview { display: block; }
            }
        }
    }
}
